<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav side-nav">
		<li><a href="#" routerLink="/currency/list" routerLinkActive="active"><i
				class="fa fa-fw fa-money"></i> Currency </a></li>
		<li><a href="investigaciones/favoritas"><i
				class="fa fa-fw fa-user-plus"></i> MENU 1</a></li>
		<li><a href="sugerencias"><i
				class="fa fa-fw fa-paper-plane-o"></i> MENU 2</a></li>
		<li><a href="faq"><i class="fa fa-fw fa fa-question-circle"></i>
				MENU 5</a></li>
	</ul>
</div>