<div id="noty-holder"></div>
<div id="wrapper">
	<!--  Header Nav Bar -->
	<app-headerbar></app-headerbar>

	<!-- Left Nav Bar -->
	<app-leftnavbar></app-leftnavbar>

	<form name="form" (ngSubmit)="f.form.valid && saveCurrency()" #f="ngForm">
		<div id="page-wrapper">
			<div class="container-fluid mar-bottom">
				<!--  SHOWING ERROR MESSAGE -->
				<div *ngIf="status"
					[ngClass]="{ 'alert': status, 'alert-success': status.type === 'success', 'alert-danger': status.type === 'error' }">
					<span><strong>{{status.prefix}}</strong> {{status.message}}</span>
				</div>
				
				<!-- Page Heading -->
				<div class="row padd">
					<div class="col-md-3">Currency ID</div>
					<div class="col-md-3">
						<input class="border-input" name="currencyId"
							[(ngModel)]="model.currencyId" #currencyId="ngModel" type="text"
							size="20">
					</div>
				</div>
				<div class="row padd">
					<div class="col-md-3">Description</div>
					<div class="col-md-3">
						<input class="border-input" name="currencyDesc"
							[(ngModel)]="model.currencyDesc" #currencyDesc="ngModel"
							type="text" size="30">
					</div>
					<div class="col-md-3">Arabic Description</div>
					<div class="col-md-3">
						<input class="border-input" name="currencyDescArabic"
							[(ngModel)]="model.currencyDescArabic"
							#currencyDescArabic="ngModel" type="text" size="20">
					</div>
				</div>
				<div class="row padd">
					<div class="col-md-3">Currency Symbol</div>
					<div class="col-md-3">
						<input class="border-input" type="text" name="currencySymbol"
							[(ngModel)]="model.currencySymbol" #currencySymbol="ngModel"
							size="20">
					</div>
				</div>
				<div class="row padd">
					<div class="col-md-3 padd">
						<div class="pad-left">Negative Sign:</div>
					</div>
					<div class="col-md-3">
						<select class="form-control" name="negativeSymbol"
							[(ngModel)]="model.negativeSymbol" #negativeSymbol="ngModel">
							<option value="1" selected>1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row mar-top">
				<div class="col-md-6">
					<h4>Display Symbol</h4>
					<div class="border">
						<div class="row padd">
							<div class="col-md-12 ">
								<input name="" type="radio" name="displaySymbol"
									[(ngModel)]="model.displaySymbol" #displaySymbol="ngModel"
									value="1"> <span class="padd-left">Before Amount</span>
							</div>
						</div>
						<div class="row padd">
							<div class="col-md-6">
								<input name="" type="radio" name="displaySymbol"
									[(ngModel)]="model.displaySymbol" #displaySymbol="ngModel"
									value="2"> <span class="padd-left">After Amount</span>
							</div>
							<div class="col-md-6">
								<input name="isIncludeSpace" [(ngModel)]="model.isIncludeSpace"
									#isIncludeSpace="ngModel" type="checkbox" value=""> <span
									class="padd-left">Include Space</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Separators</h4>
					<div>
						<div class="row padd">
							<div class="col-md-2 col-md-offset-6 padd">Decimal:</div>
							<div class="col-md-3">
								<select class="form-control" name="decimalSymbol"
									[(ngModel)]="model.decimalSymbol" #decimalSymbol="ngModel">
									<option value="1">Period</option>
									<option value="2">Comma</option>
									<option value="3">Space</option>
								</select>
							</div>
						</div>
						<div class="row padd">
							<div class="col-md-2 col-md-offset-6 padd">Thousands:</div>
							<div class="col-md-3">
								<select class="form-control" name="thousandSymbol"
									[(ngModel)]="model.thousandSymbol" #thousandSymbol="ngModel">
									<option value="1">Period</option>
									<option value="2">Comma</option>
									<option value="3">Space</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mar-top">
				<div class="col-md-6">
					<div class="row padd">
						<div class="col-md-6">Currency Unit</div>
						<div class="col-md-6">
							<input name="currencyUnit" [(ngModel)]="model.currencyUnit"
								#currencyUnit="ngModel" type="text" size="20">
						</div>
					</div>
					<div class="row padd">
						<div class="col-md-6">Subunit Connector</div>
						<div class="col-md-6">
							<input name="subUnitConnector"
								[(ngModel)]="model.subUnitConnector" #subUnitConnector="ngModel"
								type="text" size="20">
						</div>
					</div>
					<div class="row padd">
						<div class="col-md-6">Currency Subunit</div>
						<div class="col-md-6">
							<input name="currencySubUnit" [(ngModel)]="model.currencySubUnit"
								#currencySubUnit="ngModel" type="text" size="20">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row padd">
						<div class="col-md-6">Currency Unit Arabic</div>
						<div class="col-md-6">
							<input name="currencyUnitArabic"
								[(ngModel)]="model.currencyUnitArabic"
								#currencyUnitArabic="ngModel" type="text" size="20">
						</div>
					</div>
					<div class="row padd">
						<div class="col-md-6">Subunit Connector Arabic</div>
						<div class="col-md-6">
							<input name="subUnitConnectorArabic"
								[(ngModel)]="model.subUnitConnectorArabic"
								#subUnitConnectorArabic="ngModel" type="text" size="20">
						</div>
					</div>
					<div class="row padd">
						<div class="col-md-6">Currency Subunit Arabic</div>
						<div class="col-md-6">
							<input name="currencySubUnitArabic"
								[(ngModel)]="model.currencySubUnitArabic"
								#currencySubUnitArabic="ngModel" type="text" size="20">
						</div>
					</div>
				</div>
			</div>
			<div class="row pull-right mar-top">
				<div class="col-md-6 col-xs-6">
					<button type="submit" class="btn btn-danger">Save</button>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6">
					<a href="#" class="btn btn-danger">Clear</a>
				</div>
			</div>
		</div>
	</form>
</div>