<div id="throbber" style="display: none; min-height: 120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
	
	<!--  Header Nav Bar -->
	<app-headerbar></app-headerbar>
	
	<!-- Left Nav Bar -->
	<app-leftnavbar></app-leftnavbar>
	<div id="page-wrapper">
		<div class="container-fluid">
			<!-- Page Heading -->
			<div class="row">
				<h3>Currency List</h3>
			</div>
			<div class="row" id="main">
				<div class="col-xs-12 col-sm-12  col-md-12 well mar-top"
					id="content">
					<div class="table-responsive">
						<table class="table table-bordered table-responsive">
							<thead>
								<tr>
									<th>Currency ID</th>
									<th>Description</th>
									<th>Arabic Description</th>
									<th>Currency Symbol</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let currency of currencies">
									<td scope="row">{{currency.currencyId}}</td>
									<td>{{currency.currencyDesc}}</td>
									<td>{{currency.currencyDescArabic}}</td>
									<td>{{currency.currencySymbol}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6">
						<div class="left-section"></div>
					</div>
					<div class="col-xs-6 col-md-6 pull-right">
						<a href="#" routerLink="/currency/create" class="btn btn-large btn-danger pull-right">Add Currency</a>
					</div>
				</div> 
			</div>
		</div>
	</div>